
    <div class="entire">
        <h1>Contact Us</h1>
        <div className="container">
            <br>
            <br>
            <br>
          <table border="1" align="center"  >
            <thead>
              <tr>
                  <th>ID</th>
                <th> NAME</th>
                <th>PHONE NUMBER</th>
                <th>FEEDBACK</th>
              </tr>
            </thead>
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td></td>
            </tr>
          </table>
        </div>
    </div>
  