
   <body>
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  
  <div class="section">
  
  <div class="container">
  
  
  
  <div class="title">
  
  
  
  <h1>About Us</h1>
  
  
  </div>
  
  <div class="content">
  
  
  
  <div class="article">
  
  
  
  <h3>Our story
      At Froster cafe , we follow a simple mantra - "Strive for continuous improvement and make no compromise on quality!"
      
      Initially we were just a small unit with a handful of employees. Today, 13 years later, we have established 6 successful outlets in the city with a strong workforce of about 500 people.
      
      Providing quality food in perfect hygienic conditions remains our top most priority.
      
      Our aim is to be easy on the pocket, satiate the ever demanding palette and ensure that each customer comes back for more.
      <br>
      Come get Truffled!
      <br>
      <br>
      <h4>-----------OUR VISION------------</h4>
      <br>
      Our vision is to provide happiness and joy through food to every customer who chooses to dine at Froster cafe,
       while not exceeding,making the size of a pin hole on their pockets.</h3>
  
  
  
  
  
  </div>
  
  </div>
  
  <div class="image-section">
  
  <img src="https://www.wallpapertip.com/wmimgs/94-943778_restaurant-wallpaper.jpg">
  
  </div>
  
  <div class="social">
  
  
  
  <a href=""><i class="fab fa-facebook-f"></i></a>
  
  
  
  <a href=""><i class="fab fa-twitter"></i></a>
   <a href=""><i class="fab fa-instagram"></i></a>
  
  
  
  </div>
  
  </div>
  
  </div>
  </body>