* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
h1 {
  text-align: center;
  font-weight: 600;
  color:rgb(235, 20, 20);
  font-size: 25px;
}
p {
  text-align: center;
  width: 60%;
  margin: auto;
  font-size: 15px ;
  font-weight: bold;
  color:rgb(236, 38, 38);
}
.container {
  width: 80%;
  margin: auto;

min-height: 100vh;
background-image: URL('https://wallpapercave.com/wp/wp1874196.jpg');
background-size: cover;
position: relative;
}

/* Add padding to containers */

.box {
  margin-top: 40px;
  box-shadow: 2px 3px 20px #00000030;
  padding: 20px;
  }
h5{
  font-size: 20px;
  color: black;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  row-gap: 15px;
}

input[type="text"] {
  padding: 15px;
  display: inline-block;
  border: none;
  align-items: center;
  border: 1px solid #f1f1f1;
}

input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}


#message {
  margin-top: 15px;
  width: 100%;
  height: 100px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

button {
  background-color: #87bb44;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  border-radius: 30px;
}

button:hover {
  opacity: 0.8;
}