* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.check
 {
	background-image: URL('https://media.istockphoto.com/photos/white-wooden-table-with-breakfast-border-flat-lay-picture-id646206882?k=6&m=646206882&s=170667a&w=0&h=SWGlXhF9KJDVbWJB7Wnf82IUyoHYHtaRbFJPwcwelKE=');
    background-size: cover;
  background-color: bisque;
 }

.form-container {
    display: flex;
    height: 98vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-container .form-wrap {
    background: #fff;
    width: 40%;
    padding: 15px 20px;
}

.form-container .form-wrap h2 {
    text-align: center;
    margin: 0px 0px 20px;
    font-size: 19px;
}

.form-container .form-wrap .form-box {
    margin: 0px 0px 15px;
}

.form-container .form-wrap .form-box input[type="text"]{
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #353535;
    width: 100%;
}

.form-container .form-wrap .form-submit {
    display: flex;
    justify-content: center;
}


.form-submit[type="submit"] {
    padding: 4px 10px;
    border: none;
    border-radius: 2px;
    background: #353535;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    font-size: 16px;
}