<div class="register">
  <div class="up"></div>
  <div class="account">
    <h2>Register!!</h2>
    <form>
      <div class="group">
        <label>First Name</label>
        <input type="text" required>
      </div>
      <div class="group">
        <label>Last Name</label>
        <input type="text" >
 
      </div>
      <div class="group">
        <label>Email</label>
        <input type="email" required >
 
      </div>
      <div class="group">
        <label>Password</label>
        <input type="password" required>
      </div>
      <div class="group">
        <label>Confirm Password</label>
        <input type="password" required>
   <div class="group">
  <label>Phone Number</label>
  <input type="number">
</div>
<div class="group">
  <label>Location</label>
<input type="text">
</div>
      </div>
      <div class="radio">
        <input type="radio"> <label>I agree to the terms and conditions</label>
      </div>
      <input type="button" value="Register" onclick="home">
    
     