* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
}
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: URL('https://tse2.mm.bing.net/th?id=OIP.Z5FAiyAyV7w1dJbhp8VfigHaE8&pid=Api&P=0&w=259&h=172');
    background-size: cover;
    position: relative;
}
.register .up {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 27, 97, .25);
    z-index: 1;
}
.account {
    background-color: #FFF;
    width: 450px;
    padding: 45px;
    border-radius: 5px;
    z-index: 2;
}
.account h2 {
    color: #1C2540;
    text-align: center;
    margin-bottom: 28px;
    font-weight: normal;
}
form .group {
    position: relative;
}
form label {
    display: block;
    color: #424767;
    font-size: 12px;
    margin-bottom: 8px;
}
.account form .group i {
    position: absolute;
    top: 22px;
    width: 37px;
    height: 37px;
    line-height: 37px;
    color: #4E5079;
    font-size: 15px;
    text-align: center;
    border-right: 1px solid #e2e2e2;
}
 
form input:not([type="radio"]) {
    color: #424767;
    width: 100%;
    margin-bottom: 28px;
    padding: 10px 10px 10px 45px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    outline: none;
}
form input::placeholder {
    color: #424767;
    opacity: .7;
}
form .radio input[type="radio"] {
    top: 2px;
    position: relative;
    cursor: pointer;
}
form .radio label {
    display: inline;
}
form input[type="button"] {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0;
    font-size: 15px;
    color: #FFF;
    background-color: #242E4c;
    border: 1px solid #242E4c;
    transition: .5s;
    outline: 0;
    cursor: pointer;
}
form input[type="button"]:hover {
    background-color: #0E121d;
}
form .or {
    display: block;
    text-align: center;
    color: #4c4c4c;
    font-size: 13px;
}
form .icons {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
form .icons i {
    width: 38px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e2e2e2;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
form .icons i:first-of-type {
    color: #3b5998;
}
form .icons i:nth-of-type(2) {
    margin-left: 5px;
    margin-right: 5px;
    color: #1DA1F2;
}
form .icons i:last-of-type {
    color: #6E5494;
}
form .icons i:hover {
    background-color: #242E4c;
    color: #FFF;
}
form p {
    text-align: center;
    color: #424767;
    font-size: 14px;
}
form p span {
    font-weight: bold;
    cursor: pointer;
}