*{
    margin:0;
    padding:0;
    box-sizing:border-box
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  body{
    font-family: 'Poppins', sans-serif;
  }
  .wrapper{
  width:1200px;
  margin:100px auto;
  }
  .title{
  text-align:center;
  margin-bottom:60px;
  }
  .title h4{
  text-transform:capitalize;
  font-size:36px;
  position:relative;
  display:inline-block;
  padding-bottom:10px;
  }
  .title h4 span{
  display:block;
  font-size:18px;
  font-style:italic;
  margin-bottom:10px;
  }
  .title h4:before{
  position:absolute;
  content:"";
  width:100px;
  height:2px;
  background-color:#f81010;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  }
  .menu{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  }
  .single-menu{
  flex-basis:580px;
  margin-bottom:40px;
  padding-bottom:40px;
  border-bottom:1px solid #ddd;
  }
  .single-menu:nth-child(5), .single-menu:nth-child(6){
  border-bottom:0;
  }
  .single-menu{
  display:flex;
  flex-direction:row;
  align-items:center;
  }
  .single-menu:hover img{
  border-radius:0;
  }
  .single-menu img{
  max-width:180px;
  margin-right:30px;
  border-radius:50%;
  border:1px solid #ddd;
  padding:3px;
  transition:.5s;
  }
  .single-menu h4{
  text-transform:capitalize;
  font-size:22px;
  border-bottom:1px dashed #333;
  margin-bottom:5px;
  padding-bottom:5px;
  }
  .single-menu h4 span{
  float:right;
  color:#f01616;
  font-style:italic;
  }
  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

  nav{
      position: relative;
      margin: 270px auto 0;
      width: 310px;
      height: 50px;
      background: #34495e;
      border-radius: 8px;
      font-size: 0;
      box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  }
  .all {
    background-image: url('https://png.pngtree.com/back_origin_pic/05/06/65/55d8cd48f08130b4d505d287fb8913d9.jpg');
    background-position: center top;
    background-size: cover;
  }
  nav a{
      font-size: 15px;
      text-transform: uppercase;
      color: white;
      text-decoration: none;
      line-height: 50px;
      position: relative;
      z-index: 1;
      display: inline-block;
      text-align: center;
      justify-items: baseline;}
  nav .animation{
      position: absolute;
      height: 100%;
      /* height: 5px; */
      top: 0;
      /* bottom: 0; */
      z-index: 0;
      background: #1abc9c;
      border-radius: 8px;
      transition: all .5s ease 0s;
  }
  nav a:nth-child(1){
      width: 100px;
  }
  nav .start-home, a:nth-child(1):hover~.animation{
      width: 100px;
      left: 0;
  }
  nav a:nth-child(2){
      width: 110px;
  }
  nav a:nth-child(2):hover~.animation{
      width: 110px;
      left: 100px;
  }
  nav a:nth-child(3){
      width: 100px;
  }
  nav a:nth-child(3):hover~.animation{
      width: 100px;
      left: 210px;
      
  }