
    <body>
      <h1>Update Menu</h1>
      <div className="container">
          <br>
          <br>
          <br>
        <table border="1" align="center"  >
          <thead>
            <tr>
              <th>Menu Name</th>
              <th>Menu Description</th>
              <th>Price</th>
              <th>Menu Category</th>
              <th>Created (Date &Time)</th>
              <th>Updated (Date &Time)</th>
              <th>Action-Update</th>
              <th>Action-Delete</th>
            
            </tr>
          </thead>
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
    
        </table>
      </div>
    </body>
