.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    width: 80%;
          margin: auto;  
        
  }
  body{
    margin: auto;
       
       min-height: 100vh;
       background-image: URL('https://tse2.mm.bing.net/th?id=OIP.teN8fOeOseUho-VmWSHg0AHaFj&pid=Api&P=0&w=254&h=190');
       background-size: cover;
       position: relative;
  }
  h1 {
          font-size: 40px;
          text-transform: capitalize;
          text-align:center;
          margin-bottom: 20px;
          color: rgb(20, 19, 20);
        }
  table {
    border-collapse: collapse;
    width: 50%;
  
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 20px;
  }
  
  th {
    background-color: rgb(72, 248, 219);
  }
  
  td{
    background-color: rgb(66, 241, 198);
    order: 1px solid #1fa4e205;
    text-align: left;
    padding: 12px;
    font-size: 32px;
  }
  
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }